* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  background: rgba(250,240,188,1);
  overflow-x: hidden;   /* prevents horizontal scrolling */
  font-family: Inika, serif;
}

/* Wrap whole design and center it */
.page_container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* Main title text */
.title_text {
  position: absolute;
  top: 17vh;
  left: 10vw;
  font-size: 10vw;         /* scales with screen width */
  line-height: 0.9;
  width: 70vw;
}

/* Start button background */
.start_button_bg {
  width: 30vw;
  height: 10vh;
  background: rgba(160,129,95,1);
  opacity: 0.5;
  position: absolute;
  bottom: 25vh;
  right: 10vw;
  border-radius: 999px;
}

/* Start button text */
.start_button_text {
  position: absolute;
  bottom: 25vh;
  right: 10vw;
  width: 30vw;
  height: 10vh;
  font-size: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* so clicks go through to the bg */
}

/* Decorative border frame */
.border_frame {
  position: absolute;
  inset: 3vw;  /* equal space on all sides */
  
  background: url("../images/squiggly_border.png")
              center / 100% 100% no-repeat;

  pointer-events: none; /* allows clicks through if needed */
}



/* Cheese image */
.title_cheese {
  width: 20vw;
  height: 20vw;
  background: url("../images/title_cheese.png") center/cover no-repeat;
  position: absolute;
  bottom: 20vh;
  left: 8vw;
}

/* Rats image */
.title_lil_shan_rats {
  width: 35vw;
  height: 30vw;
  background: url("../images/title_lil_shan_rats.png") center/cover no-repeat;
  position: absolute;
  top: 10vh;
  right: 8vw;
}
