/* ============================================================
   GLOBAL RESET + BASE STYLES
   ============================================================ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  background: rgba(250,240,188,1);
  overflow-x: hidden;
  font-family: Inika, serif;
}


/* ============================================================
   LANDING PAGE
   ============================================================ */

.page_container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* Title text */
.title_text {
  position: absolute;
  top: 17vh;
  left: 10vw;
  font-size: 10vw;
  line-height: 0.9;
  width: 70vw;
}

/* Start button wrapper */
#start_button_wrapper {
  position: absolute;
  bottom: 25vh;
  right: 10vw;
  width: 30vw;
  height: 10vh;
  cursor: pointer;
}

/* Start button background */
.start_button_bg {
  width: 100%;
  height: 100%;
  background: rgba(160,129,95,1);
  opacity: 0.5;
  border-radius: 999px;
  transition: background-color 0.25s ease, opacity 0.25s ease;
}

/* Start button text */
.start_button_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

/* Hover effect */
#start_button_wrapper:hover .start_button_bg {
  background: rgba(200,170,120,1);
  opacity: 0.8;
}

#start_button_wrapper:hover .start_button_text {
  color: white;
}

/* Decorative border */
.border_frame {
  position: absolute;
  inset: 3vw;
  background: url("../images/squiggly_border.png")
              center / 100% 100% no-repeat;
  pointer-events: none;
}

/* Decorative images */
.title_cheese {
  width: 20vw;
  height: 20vw;
  background: url("../images/title_cheese.png") center/cover no-repeat;
  position: absolute;
  bottom: 20vh;
  left: 8vw;
}

.title_lil_shan_rats {
  width: 35vw;
  height: 30vw;
  background: url("../images/title_lil_shan_rats.png") center/cover no-repeat;
  position: absolute;
  top: 10vh;
  right: 8vw;
}



/* ============================================================
   QUIZ PAGE
   ============================================================ */

.quiz_container {
  width: 100%;
  height: 1024px;
  background: rgba(250,239,188,1);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

/* Quiz background border */
.quiz_bg_frame {
  width: 100%;
  height: 924px;
  background: url("../images/v5_67.png");
  opacity: 0.5;
  position: absolute;
  top: 50px;
  left: 56px;
  border: 25px solid rgba(160,130,95,1);
  pointer-events: none;
}

/* Option button background */
.quiz_option_bg {
  width: 983px;
  height: 77px;
  background: rgba(160,129,95,1);
  opacity: 0.5;
  position: absolute;
  left: 228px;
  border-radius: 167px;
}

/* Option text */
.quiz_option_text {
  width: 689px;
  color: #000;
  position: absolute;
  left: 357px;
  font-family: Inika;
  font-size: 35px;
  text-align: center;
}

/* Option positions */
#quiz_option1_bg { top: 638px; }
#quiz_option1_text { top: 650px; }

#quiz_option2_bg { top: 727px; }
#quiz_option2_text { top: 739px; }

#quiz_option3_bg { top: 816px; }
#quiz_option3_text { top: 828px; }

/* Scenario prompt */
.quiz_prompt {
  width: 973px;
  color: #000;
  position: absolute;
  top: 488px;
  left: 233px;
  font-family: Inika;
  font-size: 50px;
  text-align: center;
}

/* Image box */
.quiz_image_box {
  width: 675px;
  height: 337px;
  background: #000;
  position: absolute;
  top: 128px;
  left: 382px;
  overflow: hidden;
}
